<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Finafunds Value</title>
  </head>
  <body>
    <h1>Averigüa la rentabilidad de tus fondos de inversión</h1>
    <form action="/saveRecord" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="file" class="form-control form-control">
      </div>
      <input type="submit" value="Upload File">
    </form>
    -------------------------
    <h3>Encuentra la información financiera que buscas:</h3>
    <form action="api/performance/" method="get">
      <input type="text" name="ISIN" value="" placeholder="ISIN">
      <input type="text" name="dateFrom" value="" placeholder="Date from">
      <input type="text" name="dateTo" value="" placeholder="Date to">
      <input type="submit" value="Enviar datos">
    </form>

    {{#if records}}
    <p>Resultados del fichero analizado:</p>
    <p>Líneas procesadas: {{ records.processed_records }}</p>
    <p>Errores encontrados: {{ records.errors_found }}</p>

      <p>Lineas erróneas:</p>
      {{#each records.error_display }}
        <p style="color:red">{{this}}</p>
      {{/each}}
    {{else}}
    {{/if}}

    {{#if ISIN}}
      <p>Aquí tienes la información solicitada:</p>
      <p>Con el ISIN: {{ ISIN }}</p>
      <p>Desde la fecha: {{ dateFrom }}</p>
      <p>Hasta la fecha: {{ dateTo }}</p>

      <p>Cálculo de rentabilidad:{{ performances }}</p>
      <p>Cálculo de volatilidad: {{ volatility }}</p>
    {{else}}
    {{/if}}

  </body>
</html>
